@import "../base/base.scss";

@import "icons/fontello.scss";
@import "fonts/open-sans.scss";
@import "keyframes.scss";

/* TODO move common mixins to base theme */
@import "mixins.scss";

/* TODO move new loading indicator to base when it's ready */
@import "loading-indicator.scss";

@import "common.scss";

/* TODO move new notification theme to base as the default when they are ready */
@import "components/notification.scss";
@import "components/button.scss";
@import "components/textfield.scss";
@import "components/combobox.scss";
@import "components/tabsheet.scss";
@import "components/label.scss";
@import "components/table.scss";
@import "components/window.scss";
@import "components/menu.scss";

@import "views/schedule.scss";
@import "views/sales.scss";
@import "views/reports.scss";
@import "views/transactions.scss";

@import "display/display-panel.scss";

$header-height: 120px; 
$esp-blue: rgb(46,112,215);
$esp-green: rgb(149,204,77);

@mixin dashboard {
	
	@include base;
	
	@include dashboard-loading-indicator;
	@include dashboard-common;
	
	@include dashboard-button;
	@include dashboard-combobox;
	@include dashboard-label;
	@include dashboard-notification;
	@include dashboard-table;
	@include dashboard-tabsheet;
	@include dashboard-textfield;
	@include dashboard-window;
	
	@include dashboard-schedule-view;
	@include dashboard-sales-view;
	@include dashboard-reports-view;
	@include dashboard-transactions-view;

	@include dashboard-menu(menu, #888a8c, #333537);
	@include dashboard-menu-bg(menu, #333537, #2d2f30);
	@include dashboard-menu(progress-indicator, $esp-blue, #ccc);
	
	
	/*@include dashboard-menu-bg(progress-indicator, $esp-blue, $esp-blue);*/
	
	/**** Necessary? could just have a big constructor, or simply separate css selectors *******/
	@include dashboard-menu-font(progress-indicator, $esp-blue);
	
	/*** Custom ******************/
	@include display-panel;
	
	.header {
		padding-left: 20px;
		padding-top: 5px;
		
		div {
		
			float: left;
			
			.esp {
				color: $esp-green;
				font-size: 52px;
				font-weight: 700;
				color: $v-green;
				text-transform: uppercase;
				text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
				margin-right: 5px;
			}

			.mapping {
				color: $esp-blue;
				font-size: 52px;
				font-weight: 400;
				padding-top: 5px;
				text-align: justify;
				/*text-shadow: 1px 2px 3px rgba(255,255,255,0.9);*/
				
				text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
				text-align: center;
			}	

			.search-box {
				padding-top: 10px;
				
				.v-textfield {
					height: 27px;
				}
			}
			
		}
		font-family: 'Lato', sans-serif;
	}
	
	
	.v-errorindicator {
		width: 12px;
		height: 16px;
		background: transparent url(../runo/icons/16/error.png) no-repeat top right;
	}
	
	.v-csslayout {
		overflow: auto;
	}
	
	.submit-panel {
		.button-left {
			float: left;
		}
		.button-right {
			float: right;
		}
	}
	
	.layout-panel {
	
		margin-bottom: 20px;
		padding: 20px 20px 20px;
		overflow: auto;
		position: relative;
		
		/* 
		* annoying - must set padding on container 
		* and margin on content because of strange 
		* absolute positioning in tabsheet 
		*/
		.v-tabsheet {
			.v-tabsheet-content {
				padding: 20px;
			}
			
			.v-formlayout {
				margin: 20px;
			}
		}
		
		.panel-header {
		
			border-bottom: 1px solid #eee;
			margin-bottom: 20px;
			
			.v-label {
				float: left;
				
				font-weight: 600;
				font-size: 13px;
				color: $esp-blue;
				text-transform: uppercase;
				padding: 0 20px;
				line-height: 38px;
			}
			
			.v-button {
				float: right;
			}
		}
		
		.panel-description {
			margin-bottom: 20px;
		}
		
		.extra-content {
			margin-bottom: 20px;
		}
		
	}
	
/** ES search **/
	.indicator-name {
	  /*
	   * text-shadow: 1px 2px 3px rgba(0,0,0,0.4);
	   */
	  text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  }
	
	/** menu bar **/
	
	.field-menu.v-menubar {
		height: 28px;
		padding-left: 5px;
	}

	.nav-menu {
		margin-left: 20px;
		margin-top: 35px;
	
	 .v-menubar-menuitem {
        margin-left: 10px;
        font-size: 20px;
        font-weight:200;
        border-bottom:2px solid transparent;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	 }

	   .v-menubar-menuitem:hover {
        color: #fff;
        cursor: pointer;
	 }

	 .v-menubar-menuitem-checked {
        border-bottom:2px solid $esp-blue;
	 }

	}
	
	.account-details {
	  margin-top: 10px;
	  padding-right: 20px;
	}
	
	
	/** map legend **/
	
	.map-legend {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	
	/** Popup windows **/
	.v-window-maximizebox {
		visibility: hidden;
	}
	
	/*** Wizardy stuff ******************/
	
	.wizard-element .v-csslayout {
		width: 500px;	
		margin-bottom: 20px;
	}
	
	.progress-indicator .v-nativebutton.selected {
		text-shadow: 0 .1em .1em rgba(0,0,0,.3);
		
		background: #6ba7e4;
		background: -moz-linear-gradient(top, #75b0e7 0%, #5f9de1 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75b0e7), color-stop(100%,#5f9de1));
		background: -webkit-linear-gradient(top, #75b0e7 0%,#5f9de1 100%);
		background: -o-linear-gradient(top, #75b0e7 0%,#5f9de1 100%);
		background: -ms-linear-gradient(top, #75b0e7 0%,#5f9de1 100%);
	}
	
	.indicator-wizard {
		height: 800px;
		width: 800px;
	}
	
	.indicator-wizard .submit-panel {
		margin-bottom: 40px;
	}
	
	.indicator-wizard .progress-indicator {
		margin-right: 20px;
	}
	
	/******************************/
	
	.sidebar {
		background: #414243 url(img/sidebar-gradient.png) repeat-y top right;
		@include move-right;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	.sidebar .branding {
		border-bottom: 1px solid #353637;
		position: relative;
		-webkit-font-smoothing: antialiased;
		height: $header-height;
	}
	
	.sidebar .branding .v-label {
		position: relative;
		z-index: 2;
		
		white-space: normal;
		font-size: 16px;
		line-height: 1.1;
		color: #fff;
		text-shadow: 0 2px 2px rgba(0,0,0,.5);
		
		/* WTH? Why is inline-block forced as an inline style? */
		display: block !important;
		padding: .8em .8em 1.2em;
		
		//@include box-shadow(inset 0 0 5px 2px rgba(0,0,0,.5));
	}
	
	.sidebar .branding .v-label span {
		font-size: 13px;
		color: #d0d1d3;
		display: block;
	}
	
	.sidebar .branding .v-image {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.sidebar .menu {
		overflow: auto;
		height: 100%;
	}
	
	.sidebar .menu .v-ddwrapper {
		padding: 2px;
	}
	
	.sidebar .menu .v-ddwrapper .v-nativebutton {
		margin: -2px -2px;
	}
	
	.sidebar .menu .v-ddwrapper-over {
		padding: 0;
		border: 2px solid #2d90f3;
		background: transparent;
		@include border-radius(4px);
	}
	
	
	.badge,
	.notifications .v-button-caption {
		display: inline-block;
		font-size: 11px;
		line-height: 1;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		padding: .1em .4em .2em;
		
		background: #f16433;
		
		/* TODO mixin */
		background: -moz-linear-gradient(top, #faa290 0%, #f77b62 14%, #ec3120 87%, #ce2314 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faa290), color-stop(14%,#f77b62), color-stop(87%,#ec3120), color-stop(100%,#ce2314));
		background: -webkit-linear-gradient(top, #faa290 0%,#f77b62 14%,#ec3120 87%,#ce2314 100%);
		background: -o-linear-gradient(top, #faa290 0%,#f77b62 14%,#ec3120 87%,#ce2314 100%);
		background: -ms-linear-gradient(top, #faa290 0%,#f77b62 14%,#ec3120 87%,#ce2314 100%);
		/* Sass compiler chokes on this */
		/* background: linear-gradient(to bottom, #faa290 0%,#f77b62 14%,#ec3120 87%,#ce2314 100%); */
		
		@include border-radius(2px);
		
		@include box-shadow(0 1px 1px rgba(0,0,0,.3));
	}
	
	.menu .v-nativebutton .badge {
		position: absolute;
		top: 6px;
		right: 8px;
	}
	
	.sidebar .user {
		display: block;
		
		border-top: 1px solid #303132;
		background: #3b3c3d;
		background-color: rgba(0,0,0,.1);
		
		color: #898c8e;
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
		
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,.08));
	}
	
	.user > .v-slot {
		display: inline-block;
		width: 50%;
	}
	
	.user > .v-slot:first-child {
		width: 34px;
	}
	
	.user .v-image {
		width: 34px;
		height: 34px;
		border-right: 1px solid #313132;
	}
	
	.user .v-label {
		white-space: normal;
		font-size: 12px;
		line-height: 14px;
		font-weight: 600;
		max-width: 50px;
		overflow: visible;
		padding: 2px 8px;
		height: 34px;
		color: inherit;
		-webkit-font-smoothing: antialiased;
	}
	
	.user .v-nativebutton,
	.user .v-menubar {
		/* TODO mixin */
		-webkit-appearance: none;
		
		border: none;
		border-top: 1px solid #303132;
		background: transparent;
		width: 100%;
		padding: 0;
		
		color: inherit;
	}
	
	.user .v-nativebutton:focus {
		outline: none;
	}
	
	.user .v-nativebutton:hover,
	.user .v-menubar-menuitem:hover {
		color: #e1e1e1;
	}
	
	.user .v-nativebutton-caption {
		display: none;
	}
	
	.user .v-nativebutton:before,
	.user .v-menubar-menuitem:before {
		font-size: 16px;
		margin: 0;
		display: block;
		border-top: 1px solid #434445;
		padding: .3em 0 .4em;
	}
	
	.user .v-menubar-menuitem {
		border-right: 1px solid #434445;
		display: block !important;
		cursor: pointer;
	}
	
	.user .icon-cancel {
		border-left: 1px solid #303132;
	}
	
	
	.layout-panel {
		background: #fff;
		@include border-radius(4px);
		/* TODO make this work in the Sass compiler */
		/* 	@include box-shadow(0 2px 3px rgba(0,0,0,.14), 0 0 0 1px rgba(0,0,0,.07)); */
		-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.14), 0 0 0 1px rgba(0,0,0,.07);
		-moz-box-shadow: 0 2px 3px rgba(0,0,0,.14), 0 0 0 1px rgba(0,0,0,.07);
		box-shadow: 0 2px 3px rgba(0,0,0,.14), 0 0 0 1px rgba(0,0,0,.07);
	}
	
	.v-ie8 & .layout-panel {
		border: 1px solid #d8d9d9;
	}
	
	
	.main-view {
		@include fade-in;
	}
	
	.view-content {
		overflow: auto;
	}
	
	.main-view {
		background: #fff;
	}
	
	
	
	
	.help-overlay {
		@include border-radius(2px);
		@include box-shadow(0 3px 10px rgba(0,0,0,.5));
		padding: 15px 20px;
		background: #464646;
		background-color: rgba(40,40,40,.85);
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
		color: #a6a9aa;
		font: $font;
		font-size: 12px;
		
		@include fade-in;
		
		opacity: 0;
		@include animation-duration(1500ms);
		@include animation-delay(2000ms);
		@include animation-fill-mode(forwards);
	
		max-width: 50em;

		.v-window-outerheader {
			padding: 0;
			color: #fff;
			font-size: 14px;
			line-height: 1;
		}
	
		.v-window-header {
			font-weight: normal;
			overflow: visible;
		}
	
		.v-window-footer {
			height: 0;
		}
	
		.v-window-closebox {
			
		}
	
		.v-label p {
			margin: 7px 0 0 0;
		}
	
		a {
			color: #a6a9aa;
			text-decoration: underline;
		}
		
	}
	
	.help-overlay.login {
		top: auto !important;
		bottom: 20px;
	}
	
	
	.dashboard-view .v-horizontallayout {
		padding: 0 20px 20px;
	}
	
	.layout-panel .v-horizontallayout {
		padding: 0px;
	} 
	
	.dashboard-view .v-spacing {
		width: 20px;
		height: 20px;
	}
	
	.dashboard-view .toolbar .v-spacing {
		width: 10px;
	}
	
	
	
	.dashboard-view .configure {
		position: absolute;
		z-index: 1;
		top: 9px;
		right: 5px;
	}
	
	.dashboard-view .notes {
		padding: 40px 0 0;
	}
	
	.dashboard-view .notes .v-captiooon {
		color: #fff;
		text-shadow: 0 1px 1px #000;
		background: #5d6167;
		background: -moz-linear-gradient(top, #5d6167 0%, #393939 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d6167), color-stop(100%,#393939));
		background: -webkit-linear-gradient(top, #5d6167 0%,#393939 100%);
		background: -o-linear-gradient(top, #5d6167 0%,#393939 100%);
		background: -ms-linear-gradient(top, #5d6167 0%,#393939 100%);
		/* background: linear-gradient(to bottom, #5d6167 0%,#393939 100%); */
	}
	
	.dashboard-view .notes .v-textarea {
		border: none;
		padding: 20px 20px 0;
		line-height: 20px;
		background: #fffdf2 url(img/notes-bg.png) repeat;
		color: #545145;
	}
	
	.dashboard-view .notes .v-textarea:focus {
		outline: none;
	}
	
	.dashboard-view .notes .configure {
		color: #ddd;
		text-shadow: 0 1px 1px #000;
	}
	
	.dashboard-view .toolbar {
		padding: 20px;
		text-shadow: 0 1px 1px rgba(255,255,255,.5);
		background: transparent;
	}
	
	.dashboard-view .toolbar .v-button {
		position: relative;
		font-size: 16px;
	}
	
	.dashboard-view .toolbar .notifications.unread .v-button-caption {
		display: block;
		position: absolute;
		top: 2px;
		right: 3px;
	}
	
	.dashboard-view .h1 {
		padding-right: 1em;
	}
	
	.dashboard-view {
		background: #dfe0e1;
		
		/* TODO mixin */
		background: -moz-linear-gradient(top, #d8d9da 0%, #e6e7e8 10%, #e0e1e2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d9da), color-stop(10%,#e6e7e8), color-stop(100%,#e0e1e2));
		background: -webkit-linear-gradient(top, #d8d9da 0%,#e6e7e8 10%,#e0e1e2 100%);
		background: -o-linear-gradient(top, #d8d9da 0%,#e6e7e8 10%,#e0e1e2 100%);
		background: -ms-linear-gradient(top, #d8d9da 0%,#e6e7e8 10%,#e0e1e2 100%);
	/* 	background: linear-gradient(to bottom, #d8d9da 0%,#e6e7e8 10%,#e0e1e2 100%); */
	}
	
	.notifications.v-window {
		margin-top: 45px !important;
		margin-left: -193px !important;
		font-size: 13px;
	}
	
	.notifications.v-window .v-widget {
		font-size: 13px;
	}
	
	.notifications.v-window::before {
		content: "";
		position: absolute;
		top: -14px;
		right: 80px;
		border: 7px solid #fff;
		width: 0;
		height: 0;
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		margin-left: -7px;
	}
	
	.notifications.v-window .v-window-outerheader {
		font-size: 16px;
		color: #f16433;
		line-height: 25px;
		padding-left: 14px;
	}
	
	.notifications.v-window .v-label span {
		font-size: 12px;
		color: #979699;
	}
	
	.notifications.v-window .v-label hr {
		height: 0;
		border: none;
		border-top: 1px solid #ddd;
		margin: 0 -12px 12px;
	}
	
	.v-formlayout-captioncell {
		vertical-align: top;
	}
	
	.edit-dashboard .v-formlayout {
		padding: 10px 8px;
		
		.v-formlayout-captioncell {
			vertical-align: middle;
		}
	}
	
	.v-window {
	   padding-bottom: 15px;
	}
	
	.editable-field-label {
        vertical-align: middle;
        line-height: 30px;
    }
    
    /* Message window */
    .v-window-messagewindow .v-window-outerheader {
      background-color: rgb(230, 231, 232);
      height: 2.4em
    }

}