target/*
src/main/webapp/VAADIN/gwt-unitCache
src/main/webapp/VAADIN/widgetsets
src/main/webapp/VAADIN/themes/biopama
src/test/data/*
hibernate.properties
runtime.properties
.project
.classpath
.settings/*
/target
src/main/webapp/VAADIN/themes/dashboard/styles.css
