login_servlet_path = /login
productionMode = true
pushmode = automatic
widgetset = org.esp.publisher.ui.AppWidgetset
gs_rest_url = <url>
gs_wms_url = <url>
gs_wps_url = <url>
gs_user = <username>
gs_password = <password>
gs_workspace = <ws>
build_date = <date>
shapefile_to_postgis = false
postgis_store = esp_store
postgis_host = <host>
postgis_port = <port>
postgis_database = <db_name>
postgis_schema = layers
postgis_user = <db_username>
postgis_password = <db_password>
geotiff_limit_mb=150
shapefile_limit_mb=150
shapefile_limit_records=1000
mail_hostname=localhost
mail_smtpport=27
mail_username=test
mail_password=test
mail_from=info@esp-mapping.net
mail_fromname=ESP Mapping
mailSSL=false