@mixin display-panel {

	.display-panel {
	
		.display-panel-header {
			color: $esp-blue;
			border-bottom: 1px solid #eee;
			margin-bottom: 10px;
		}

		.header-large {
			font-size: 20px;
		}
		
		text-overflow: ellipsis;
	}
	
}